.category {
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    word-spacing: 5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
}